@import url('https://fonts.googleapis.com/css2?family= Mada, sans-serif:wght@400;700&display=swap');

body {
font-family:  Mada, sans-serif;
	/* color: #f1c40f; */
  }

  /* font-family: Mada, sans-serif; */

  ::ng-deep .form-select option {
    width: 50px; /* Adjust this value as needed */
  }

.r-red {
  background: #ff414b !important;
}

.r-red-text {
  color: #ff414b !important;
}
.custom-invalid {
  /* border: none; */
  /* border: #fff !important; */
  border: 1px solid #ff414b; 
  width: 18% !important;
  /* Example: Add your desired styling for invalid state */
  /* Add any other styles you want for the invalid state */
}

.r-blue-text {
  color: #20456a !important;
  font-family: Mada, sans-serif !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.r-darkblue {
  background: #064ea2 !important;
  border: #064ea2 !important;
}

.r-darkblue-border {
  border: #064ea2 !important;
}

.r-blue {
  background: #03aced !important;
  border: #03aced !important;
}

.r-blue-border {
  border: #03aced !important;
}

.r-red-border {
  border: #ff414b !important;
}

.r-dark-text {
  color: #000 !important;
}

.pull-right {
  float: right;
}

.r-dark {
  background: #000 !important;
}

.r-lite {
  color: #ccc;
}

.login-bg {
  background-image: url("../images/login_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  max-height: 100%;
}

body[data-sidebar="dark"] .mm-active {
  color: #ff414b !important;
}

.vertical-menu {
  /* background: #b8d7e6 !important; */
  background: #fff !important;
}

.navbar-brand-box {
  background: #20456a !important;
}

.show-btn {
  background: #ff414b;
  border: #111 solid 1px;
  border: #f1c40f solid 1px;
}

.show-btn:hover {
  background: #fff;
  border: #ff414b solid 1px;
  color: #ff414b;
}

.dark-btn {
  background: #111;
  border: #111 solid 1px;
}

.dark-btn:hover {
  background: #fff;
  border: #ff414b solid 1px;
  color: #ff414b;
}

/* .edit-btn {
	background: #111;
	border: #111 solid 1px;
	color: #FFF;
} */
/*
.edit-btn:hover {
	background: #FFF;
	border: #ff414b solid 1px;
	color: #ff414b;
} */

.delete-btn {
  background: #fff;
  border: #111 solid 1px;
  color: #111;
}

.delete-btn:hover {
  background: #111;
  border: #111 solid 1px;
  color: #fff;
}

/* Removed hr it will reflecting in the view profile bottom start*/

/* hr {
  margin: 7px 0;
  border-top: 1px solid #eee;
} */

/* Removed hr it will reflecting in the view profile bottom end*/

.wizard .steps .current a,
.wizard .steps .current a:active,
.wizard .steps .current a:hover {
  background-color: rgba(255, 65, 75, 0.2);
  color: var(--bs-gray-700);
}

.wizard .steps > ul > li a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--bs-gray-600);
  font-weight: 500;
  background-color: rgba(237, 237, 237, 0.5);
}

.wizard {
  min-height: 350px;
}

.menu-title {
  color: #fff !important;
}

/* #sidebar-menu ul li a {
  color: #fff !important;
  font-family: Mada, sans-serif;
font-weight: 400;
font-size: 14px;
}

#sidebar-menu ul li a i {
  color: #fff !important;
}

.nav-tabs .nav-link {
  border-radius: 0px;
}

.nav-tabs {
  font-size: 14px;
}

.nav-tabs .nav-link.active {
  background: #20456a;
  color: #fff;
} */

/* Add this CSS to your stylesheet or <style> tag */

/* body {
  font-family: Mada, sans-serif !important;
  font-weight: 400;
  color: #f1c40f;
} */



.footer {
  left: 175px;
}

/* button {
	background-color: #0073aa;
	border-color: #0073aa;
	color: #fff;
} */

/* .btn-primary {
    background-color: #0073aa;
border-color: #0073aa;
color: #fff;
} */

.main-content {
  margin-left: 186px !important;
  overflow: hidden !important;
  margin-top: -4% !important;

  font-family: Mada, sans-serif !important;
  font-weight: 400;
font-size: 15px;
  
}

.no-uppercase {
	text-transform: none;
}

.page-title-box h4 {
	text-transform: none;
  font-size: 15px !important;
  }


  .custom-link {
    position: relative;
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove default underline */
  }
  
  .custom-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust this value to position the underline */
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background-color: #007bff; /* Underline color */
  }
  
  .custom-link:hover::after {
    background-color: #0056b3; /* Color on hover */
  }
  

  .p-dialog .p-dialog-header .p-dialog-title {
    /* color: red; */
    color: #212529;
    font-family: Mada, sans-serif;
font-weight: 600 !important;
font-size: 16px !important;
  }

.form-control {
  width: 58% !important; 
  font-family: Mada, sans-serif !important;
  font-weight: 400;
  font-size: 14px;

}  


.td-forms {
  width: 100% !important;
}

.form-select  {
  width: 58% !important; 
  font-family: Mada, sans-serif !important;
  font-weight: 400;
  font-size: 14px;
}

h5 {
  font-family: Mada, sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

/* Logout Modal Start*/
.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
  margin-top: -13px;
  color:#212529;  
  font-family: Mada, sans-serif;
  font-weight: 400;
  font-size: 14px;
  }
  
  .p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
    font-size: 1rem;
}
  /* Logout Modal End*/
  
  .custom-dialog .p-dialog-content {
    margin-bottom: -28px;
  }

  .custom-dialog .p-dialog-title {
    font-size: 16px !important;
  }
  /* .custom-dialog .p-dialog-title {
    margin-top: -14px !important;
  } */

  .custom-dialog .p-confirm-dialog-icon{
    font-size: 1.3rem !important;
    margin-top: -14px !important;
  }
  .custom-dialog  .p-dialog-footer{
   height: 73px;
    margin-bottom: 29px;
  } 
   .custom1-dialog {
     width: 25%;
    /* height: 50%; */
    /* padding-bottom: 20px !important; */
    /* background: yellow !important; */
  }

  .custom1-dialog .passwordText {
    font-size: 14px;
  }
  
  .p-dialog-header {
    padding: 0.5rem !important;
  }

  .p-dialog .p-dialog-content:last-of-type { 
    /* overflow: hidden; */
  }

   .customView-dialog .p-dialog-content {
    overflow: hidden !important;
    color: #007bff;
  }

  .p-dialog-draggable .p-dialog-header .customView-dialog{
    height: 0px; 
}

/* .p-dialog .p-dialog-content:last-of-type .AssociatedStudy-Cards{
    padding-top: 40px !important;
} */

/* ::ng-deep {
  .AssociatedStudy-Cards{
    padding-top: 40px !important;
    overflow: scroll;
}
} */

.p-dialog-draggable .p-dialog-header

/* .custom1-dialog .sendOtp-Allignment {
  margin-left: 20px !important;
} */


.custom1-dialog .sendOtp-buttonAllignment {
  margin-right: 36% !important;
}

.custom1-dialog .modal-footer {
  margin-right: 36%;
}

/* .custom1-dialog .send-otp-footer .send-otp-button {
  margin-right: 36%;
} */

.custom1-dialog .update-footer .update-button {
  margin-right: 0; /* Or any other desired value */
}

.customView-dialog  {
  margin-bottom: -18px;
}

.customView-dialog  .p-dialog-header-icon {
  margin-bottom: -20px;
}

.custom1-dialog .p-dialog-header-icon {
  margin-bottom: -35px;

}

.customView-dialog .p-dialog-content {
  margin-top: -15px;
}

::ng-deep {

  .textAllignment {

    font-family: Mada, sans-serif !important;
    font-weight: 400;
  font-size: 14px !important;
  }
}

.size-form-control {
  height: 45px;
  /* padding: 0; */
  margin-left: -11px;
}

.country-dropdown option{
  width: 10px !important;
  margin: 10px;
}

:ng-deep{
  .country-dropdown option{
    width: 100px !important;
  }
}

.p-chips .p-chips-multiple-container .p-chips-input-token{
  padding: 0px !important;
}

.p-chips .p-chips-multiple-container{
  padding: 0px 0px 0px 4px !important;
}



.p-chips .p-chips-multiple-container .p-chips-input-token input  {
  height: 35px !important;
}

::ng-deep {
  .invalid-feedback {
      font-size: 30px;
  }
}


.form-select option {
  width: 50px; /* Adjust this value as needed */
}

.card-body {
  font-size: 14px !important;
}
/* New Developer Added */

/* css from  cro grid*/

 
/* Add this CSS to your stylesheet */
.sort-icons i {
  font-size: 15px !important; /* Adjust this value for icon size */
  opacity: 0.5 !important; /* Adjust this value to control icon opacity */
  transition: opacity 0.3s !important;
}
 
.sort-icons i.active {
  opacity: 2 !important;
  color: blue !important;
}

.text-muted {
/* --bs-text-opacity: 1; */
color: #212529 !important;
font-size: .875em !important;
font-weight: 400 !important;
text-align: center !important;
}
.btn-primary {
background-color: #0073aa !important;
border-color: #0073aa !important;
color: #fff !important;
}
.custom-search-input {
height: 35px !important;
padding: 3px 10px !important;
width: 14rem !important;
margin-left: 9rem !important;
}
.footerheader{
position: absolute !important;
left:61px !important;
}
.footerheader1{
position: fixed !important;
background-color: #fff !important;
 
}
 
.footercontent{
text-align: right !important;
}
 
.menu-icon {
  display: flex !important;
  flex-direction: column !important;
  cursor: pointer !important;
  padding: 10px !important;
}
 
.bar {
  width: 25px !important;
  height: 3px !important;
  background-color: #333 !important;
  margin: 3px 0 !important;
}
 
.menu {
  display: none !important;
}
 
.menu.open {
  display: block !important;
  /* Add your styles to show the open menu here */
}



.card-body {
  flex: 1 1 auto !important;
  color: var(--bs-card-color) !important;
}
element.style {
  padding-inline: 1rem !important;
  padding: 1.4rem !important;
}

.btn-secondary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #0073aa!important;
}

.fixed-header {
  position: fixed !important;
  top: 3.9rem!important;
  width: 100%!important;
  z-index: 1!important;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.15) 0%, white 0%) !important;
  /* border-bottom: 1px solid #ddd; */
  left: 0rem !important;
 
  padding-top: 10px !important;
}
.breadcrumb {
  margin-bottom: 0 !important;
}
 
.linkactive{
color: black !important;
}
.linkactive:hover{
color: #20456a !important;
}




.swal2-container .swal2-title {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: 'Mada', sans-serif !important;
}



div:where(.swal2-container) .swal2-html-container {
  z-index: 1;
  justify-content: center;
  margin: 0;
  padding: 1em 1.6em .3em;
  overflow: auto;
  color: inherit;
  display: block !important;
  font-size: 0.7rem !important;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}

div:where(.swal2-container) div:where(.swal2-actions) {
  display: flex;
  z-index: 1;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: auto;
  margin:0 !important;
  padding: 0;
  font-size:0.8rem !important;
}
.swal2-confirm {
  font-size:0.7rem !important;
}
.swal2-cancel {
  font-size:0.7rem !important;
}
.swal2-icon {
  width: 80px;
  height: 80px;
  border: 4px solid transparent;
  border-radius: 50%;
  margin: 20px auto 0px; 
  padding: 0;
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/* #datatable tbody tr {
  margin-bottom: 5px; 
  height: 30px;
}

#datatable tbody td {
  padding: 5px; 
  font-size: 14px !important;
}

#datatable .edit-btn {
  font-size: 12px; 
  line-height: 1;
  padding: 5px 6px; 
  background: #20456a;
  border: #20456a;
} */

/* #datatable .edit-btn:hover {
  font-size: 12px;
  line-height: 1;
  padding: 5px 6px; 
  background: #ff414b;
  border: #ff414b;
} */

/* #datatable .edit-btn svg {
  width: 14px; 
  height: 16px; 
} */

/* Add this CSS to your stylesheet or <style> tag */

.allText {
  font-family: Mada, sans-serif !important;
  font-weight: 400 !important;
  font-size: 15px !important;
}
/* 
.table th {
  font-family: Mada, sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

table{
  width: 100% !important;
  border-collapse: collapse !important;
  color: #212529 !important;
 
}
th{
  height: 10px !important;
  padding: 5px !important;
} */
.custom-cro-header {
color: #757575 !important;
font-size: 18px !important;
font-weight: 600 !important;
font-family: 'Mada', sans-serif !important;
}
th, td {
font-family: 'Mada', sans-serif !important; /* Apply font-family to both th and td */
}
/* th {
height: 10px;
padding: 5px;
display: table-cell;
vertical-align: inherit;
font-weight: bold;
unicode-bidi: isolate;
text-align: center;
padding-left: 36px;
} */


/* table {
  border-collapse: collapse !important;
} */
/* .table td, .table th {
  padding: .75rem !important;
  border-top: 1px solid #dee2e6 !important;
}
 th {
  white-space: nowrap !important;
}
th {
  text-align: inherit !important;
}
*, ::after, ::before {
  box-sizing: border-box !important;
} */

/* th {
  display: table-cell !important;
  vertical-align: inherit !important;
  font-weight: bold!important;
  text-align: -internal-center!important;
  unicode-bidi: isolate !important;
}
.table {
  width: 100% !important;
  margin-bottom: 1rem!important;
  color: #212529!important;
}
table {
  border-collapse: collapse;
} */


.card {
  border-radius: 2px !important;
  border-top: 4px solid rgba(0, 115, 170, .5)!important;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .05)!important;
  border-left: none!important;
  border-right: none!important;
  border-bottom: none!important;
  margin-bottom: 30px!important;
  padding-top: 2rem !important;
}


/* #datatable[_ngcontent-dty-c79] tbody[_ngcontent-dty-c79] td[_ngcontent-dty-c79] {
  padding-left: 13px !important;
  font-size: 14px !important;
}
#datatable tbody td {
  padding: 10px !important;
  font-size: 14px !important;
}

#datatable{
  
} */

/* .tablecardbody{
  margin-left:-2rem !important;
} */


.p-tabview .p-tabview-nav {
  background: #ffffff !important;
  border: 1px solid #dee2e6 !important;
  border-width: 0 0 2px 0 !important;
}
.p-tabview .p-tabview-nav li {
  margin-right: 0 !important;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: solid #dee2e6 !important;
  border-width: 0 0 2px 0 !important;
  border-color: transparent transparent #dee2e6 transparent !important;
  background: #ffffff !important;
  color: #6c757d !important;
  padding: 1.25rem !important;
  font-weight: 700 !important;
  border-top-right-radius: 6px!important;
  border-top-left-radius: 6px !important;
  transition: box-shadow 0.2s !important;
  margin: 0 0 -2px 0 !important;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  outline: 0 none !important;
  outline-offset: 0 !important;
  box-shadow: none !important;
}
.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
  background: #ffffff !important;
  border-color: #adb5bd !important;
  color: #6c757d !important;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #fbfeff !important;
  border-color: #180b53 !important;
  color: #20456a !important;
}
.p-tabview .p-tabview-left-icon {
  margin-right: 0.5rem !important;
}
.p-tabview .p-tabview-right-icon {
  margin-left: 0.5rem !important;
}
.p-tabview .p-tabview-close {
  margin-left: 0.5rem !important;
}
.p-tabview .p-tabview-nav-btn.p-link {
  background: #277d5b !important;
  color: #869b1d !important;
  width: 3rem !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  border-radius: 0 !important;
}
.p-tabview .p-tabview-nav-btn.p-link:focus {
  outline: 0 none !important;
  outline-offset: 0 !important;
  box-shadow: none !important;
}
.p-tabview .p-tabview-panels {
  background: #ffffff !important;
  padding: 1.25rem !important;
  border: 0 none !important;
  color: #495057 !important;
  border-bottom-right-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}


